# Python
backend/.agrioptima-ai/
backend/__pycache__/
backend/.pytest_cache/
backend/data/soil_cards/
backend/data/*.db
*.pyc

# Secrets
# These files will never be committed 
.env
backend/.env
frontend/.env

# JavaScript
frontend/node_modules/
frontend/dist/

# OS/editor
.DS_Store
.vscode/settings.json
